.catalogue-page-content {
    margin: 0;
    position: relative;
    padding: 0 0 170px;
}
/* BOOK CATALOGUE TITLE */

.page-title {
    color: darkblue;
    font-size: 48px;
    margin: 110px 0 20px; /* Adjust the top margin to move it down */
    padding: 20px;
    text-align: center; /* Center the title */
}

/* SECTION BODY */
.section-body {
    margin-top: 120px;
    padding: 20px;
    min-height: calc(100vh - 235px);
}

/* NAVBAR STYLES */

#navbar-container {
    top: 215px;
}

#nav-popup {
    width: 0;
    overflow: hidden;
    position: absolute;
    height: 100%;
    background-color: #A437DB;
    transition: 0.3s;
    padding-top: 60px;
    left: -250px;
    top: 150px;
    z-index: 1;
}

#nav-popup nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /
    height: 100%;
    padding-top: 20px;
}

#nav-popup ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-popup li {
    margin: 10px 0;
}

#nav-popup a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 0;
}

.catalogue-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A437DB;
    padding: 20px;
}

/* GALLERY STYLES */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-main {
    margin: 0 auto;
    max-width: 1500px;
}

.image-holder {
    border: 1px solid #ccc;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    width: 200px; /* Set a fixed width */
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.image-holder img {
    max-width: 100%;
    height: auto;
}

.image-holder:hover {
    border: 1px solid #777;
    transform: scale(1.05, 1.05);
}

.gallery img {
    max-width: 100%;
    height: auto;
}

div.desc {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.desc button {
    display: block;
    margin: 0 auto;
}

.desc h3, .desc p {
    max-height: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* BACK BUTTON */
.btn {
    display: block;
    border-radius: 5px;
    color: white;
    background-color: #A437DB;
    font-size: 20px;
    text-decoration: none;
    width: fit-content;
    padding: 10px 20px;
    margin: 20px auto; /* Center the button */
}

.btn:hover {
    background-color: rgb(31, 199, 106);
}

.image-holder, img {
    border-radius: 10px;
}

.vertical-nav {
    border-radius: 10px;
    padding-top: 50px;
}

.lin {
    padding: 5px;
    border: solid grey;
}

ul {
    padding: 15px;
    border-radius: 10px;
}

#hamburger-menu {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
