/* DESCRIPTION PAGE STYLES */

.description-page-content {
    margin: 0;
    position: relative;
    padding: 0 0 170px;
}

.description-container {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

.description-title {
    color: #333;
    font-size: 30px;
    margin: 110px 0 20px;
}

.description-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.book-info img {
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.book-info p {
    font-size: 20px;
    color: #666;
    margin: 10px 0;
}

.book-info button {
    background-color: #A437DB;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.book-info button:hover {
    background-color: #04AA6D;
}
