<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Payment Page</title>
    <link rel="stylesheet" th:href="@{/css/payment.css}">

</head>
<body>
<section id="section1">
    <div class="container">
        <h2>Checkout</h2>
        <form name = "myForm" action="" onsubmit="return validateForm()" method="post" required>
            <div class="row">
                <div class="col">
                    <h3 class="title">Shipping Address</h3>

                    <div class="inputBox">
                        <label th:for="fname"><i class="fa fa-user"></i> Full name :</label>
                        <input type="text" th:id="fname" th:placeholder="'James Smith'" pattern="^[A-Za-z]+ [A-Za-z]+$" required>
                    </div>
                    <div class="inputBox">
                        <label th:for="address"><i class="fa fa-address-card-o"></i> Address :</label>
                        <input type="text" th:id="address" th:placeholder="'Street Number and Name, Apt/Suite, if applicable'" required>
                    </div>
                    <div class="inputBox">
                        <label th:for="city"><i class="fa fa-institution"></i> City :</label>
                        <input type="text" th:id="city" th:placeholder="'CASABLANCA'" required>
                    </div>

                    <div class="flex">
                        <div class="inputBox">
                            <span> Country :</span>
                            <input type="text" th:placeholder="'MOROCCO'" required>
                        </div>
                        <div class="inputBox">
                            <span>zip code :</span>
                            <input type="text" th:placeholder="'123 456'" >
                        </div>
                    </div>
                    <div class="inputBox">
                        <input type="checkbox"> Save this as my billing address
                    </div>
                    <h3 class="title">Contact Information</h3>
                    <div class="inputBox">
                        <label th:for="email"><i class="fa fa-envelope"></i> Email:</label>
                        <input type="email" th:id="email" th:placeholder="'jamessmith@example.com'" required>
                    </div>
                    <div class="inputBox">
                        <label th:for="phone"><i class="fa fa-phone"></i> Phone:</label>
                        <input type="tel" th:id="phone" th:placeholder="'(123) 456-7890'">
                    </div>
                </div>
                <div class="col">
                    <h3 class="title">Order Summary</h3>
                    <div class="order-summary-box">
                        <div id="order-summary-container">
                            <!-- order summary-->
                        </div>
                        <div id="shipping-element"></div>
                        <div id="total-element"></div>
                    </div>
                </div>
                <input type="submit" value="Continue to payment information" class="submit-btn" onclick="return validateAndShowSection('section2')">
            </div>
        </form>
    </div>
</section>
<section id="section2" style="display: none;">
    <div class="container">
        <h2>Card Information</h2>
        <form id="section2Form" name="myForm2" onsubmit="return validateForm2()">
            <div class="inputBox">
                <label th:for="cardNumber">Card Number:</label>
                <input type="tel" th:id="cardNumber" th:placeholder="'**** **** **** ****'"
                       oninput="formatCardNumber(this)" pattern="^\d{4} \d{4} \d{4} \d{4}$" required>
            </div>
            <div class="inputBox">
                <label th:for="cardName">Cardholder Name:</label>
                <input type="text" th:id="cardName" th:placeholder="'John Doe'" pattern="^[A-Za-z]+ [A-Za-z]+$" required>
            </div>
            <div class="flex">
                <div class="inputBox">
                    <label th:for="expDate">Expiration Date:</label>
                    <input type="text" th:id="expDate" th:placeholder="'MM/YYYY'"
                           oninput="formatExpirationDate(this)" pattern="^(0[1-9]|1[0-2])\/\d{4}$" required>
                </div>
                <div class="inputBox">
                    <label th:for="cvv">CVV:</label>
                    <input type="tel" th:id="cvv" th:placeholder="'123'"
                           oninput="limitCvvLength(this)" pattern="^\d{3}$" required>
                </div>
            </div>

            <h3 class="title">Cards We Accept</h3>
            <div class="cards-accepted">
                <img th:src="@{/images/cards.png}" alt="Visa Card, Mastercard, Maestro, Amex">
            </div>
            <button type="submit" class="submit-btn" onclick="validateAndPayNow()">Pay now</button>
        </form>
    </div>
</section>
<script>
    function formatCardNumber(input) {

        let value = input.value.replace(/\D/g, '').substring(0, 16);

        value = value.replace(/(\d{4})(?=\d)/g, '$1 ');

        input.value = value;
    }

    function formatExpirationDate(input) {
        let value = input.value.replace(/\D/g, '').substring(0, 6);

        // Add a slash after the user enters 2 digits for the month
        if (value.length > 2) {
            value = value.substring(0, 2) + '/' + value.substring(2);
        }

        // Validate month (1-12) and year (2023-2030)
        const month = parseInt(value.substring(0, 2), 10);
        const year = parseInt(value.substring(3, 7), 10);
        const currentYear = new Date().getFullYear();

        if (month < 1 || month > 12 || year < currentYear || year > currentYear + 10) {
            input.setCustomValidity('Invalid expiration date');
        }
        // Update the input value
        input.value = value;
    }


    function limitCvvLength(input) {

        input.value = input.value.substring(0, 3);
    }

    function showSection(sectionId) {
        // Hide all sections
        document.getElementById('section1').style.display = 'none';
        document.getElementById('section2').style.display = 'none';

        // Show the selected section
        console.log('showing section ' + sectionId)
        document.getElementById(sectionId).style.display = 'block';
    }

    function displayOrderSummary() {
        const orderSummaryContainer = document.getElementById('order-summary-container');
        const totalElement = document.getElementById('total-element');
        const shippingElement = document.getElementById('shipping-element');

        const cart = JSON.parse(localStorage.getItem('cart')) || [];
        let totalPrice = 3.99;

        if (cart.length === 0) {
            orderSummaryContainer.innerHTML = '<p>You have no items in your order</p>';
        } else {
            orderSummaryContainer.innerHTML = '';
            cart.forEach((item, index) => {
                const orderItem = document.createElement('div');
                orderItem.innerHTML = `
                <span>${index + 1}.</span>
                <span>${item.title}</span>
                <span>$${item.price}</span>
            `;
                totalPrice += parseFloat(item.price);
                orderSummaryContainer.appendChild(orderItem);
            });
        }

        shippingElement.textContent = 'Shipping fee: $3.99';
        totalElement.textContent = `Total: $${totalPrice.toFixed(2)}`;
    }

    displayOrderSummary();

    function validateForm() {
        const fieldsToValidate = [
            {name: "fname", message: "Full Name must be filled out"},
            {name: "email", message: "Email Address must be filled out"},
            {name: "address", message: "Address must be filled out"},
            {name: "city", message: "City must be filled out"}
        ];

        for (let i = 0; i < fieldsToValidate.length; i++) {
            const field = document.forms["myForm"][fieldsToValidate[i].name].value;
            if (field === "" || field === null) {
                console.log(field + 'was not filled')
                alert(fieldsToValidate[i].message);
                return false;
            }
        }
        console.log('all filled')
        return true;
    }

    function validateForm2() {
        const fieldsToValidate = [
            { name: "cardNumber", message: "Card Number must be filled out" },
            { name: "cardName", message: "Cardholder Name must be filled out" },
            { name: "expDate", message: "Expiration Date must be filled out" },
            { name: "cvv", message: "CVV must be filled out" }
        ];

        for (let i = 0; i < fieldsToValidate.length; i++) {
            const field = document.forms["myForm2"][fieldsToValidate[i].name].value;
            if (field === "" || field === null) {
                console.log(field + ' was not filled');
                alert(fieldsToValidate[i].message);
                return false;
            }
        }


        console.log('all filled');
        return true;
    }


    function validateAndShowSection(sectionId) {
        if (validateForm()) {
            saveOrderInfo();
            showSection(sectionId);
        }

        return false;
    }

    function saveOrderInfo() {
        const orderInfo = {
            fullName: document.getElementById('fname').value,
            email: document.getElementById('email').value,
            address: document.getElementById('address').value,
            city: document.getElementById('city').value,
        };

        localStorage.setItem('orderInfo', JSON.stringify(orderInfo));
    }

    function payNow() {
        // You may want to perform any additional payment processing logic here.
        // For simplicity, let's assume the payment is successful.
        // Now, navigate to the order confirmation page (order-confirmation.html).
        console.log("pay now 2")
        window.location.href = '/checkout/order-confirmation';
    }

    function validateAndPayNow() {
        console.log("validate and pay now")
        if (validateForm2()) {
            console.log("pay now")
            payNow();
        }

        return false;
    }

</script>
</body>
</html>